<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="jdbc.properties" />

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--配置全局懒加载/延迟加载，默认false，一般项目开发都开启全局懒加载，局部需要才用急加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <!--起别名-->
    <typeAliases>
        <package name="com.high.mybatis.pojo"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.high.mybatis.mapper"/>
    </mappers>
</configuration>
